*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.ap_
*.dex
/build/
/app/build/
.idea/
*.iml
.gradle/
local.properties
*.log
!/gradle/wrapper/gradle-wrapper.jar
/captures/
.externalNativeBuild/
.cxx/
/build_log*.txt
/build_output*.txt
/*.png
/*.md
!README.md
